/node_modules
/dist
/build
/coverage
/logs
/temp
.env
.env.local
.env.development
.env.production
.env.test
.env.test.local
prompt.txt
package-lock.json
.vscode
__pycache__
ca-bundle.crt
getApiAccess.py